# Compiled class files
*.class

# Package files
*.jar
*.war
*.ear

# IDE settings (IntelliJ / Eclipse)
.idea/
*.iml
.settings/
.classpath
.project
.vscode/

# Build folders
out/
target/
build/
bin/

# System files
.DS_Store
Thumbs.db